.background-grey {
	background-color: #f4f4f4;
	position: relative;	
	padding: 50px 0;
}

.background-grey:after {
	content: "";
	position: absolute;
	top: 0;
	bottom: 0;
	background-color: #f4f4f4;
	left: 100%;
	right: -9999px;
	z-index: -1;
}

.background-grey:before {
	content: "";
	position: absolute;
	top: 0;
	bottom: 0;
	background-color: #f4f4f4;
	left: -9999px;
	right: 100%;
	z-index: -1;
}

.bet-button {
	background-color: #E03136;
	border: 1px solid #E03136;
	color: white;
	padding: 5px 10px;
}

.bet-button:hover {
	background-color: #fff;
	border: 1px solid #E03136;
	color: #E03136;
}

.bet-title {
	font-weight: bold;
	text-align: center;
	font-size: 25px;
	margin: 10px 0;
}