.header .row-1 {
	display: flex;
}

.header .row-1 .navigation {
	position: relative;
	background: #E03136;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
}

.header .row-1 .navigation:after {
	content: "";
	position: absolute;
	top: 0;
	bottom: 0;
	background-color: #E03136;
	left: 100%;
	right: -9999px;
	z-index: -1;
}

.header .row-1 .navigation UL {
	display: flex;
    list-style: none;
    height: 100%;
    font-size: 20px;
}

.header .row-1 .navigation UL LI {
	display: flex;
	align-items: center;
	margin-right: 20px;
}

.header .row-1 .navigation UL LI A {
	color: #fff;
}